{% extends 'base.html' %}
{% block title %} Cadastrar Clientes {% endblock %}

{% block content %}
<style>
    .errolist{
        color: red;
        list-style: none;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Cadastrar Clientes</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-sm btn-success">Cadastrar Cliente</button>
            </form>
            <p>Você já é cadastrado? Clique aqui! <a href= "{%url 'lojaapp:clienteentrar'%}">Faça Login</a></p>
        </div>
    </div>
</div>
{% endblock %}
