{% extends 'base.html' %}
{% block title %} Cadastrar Clientes {% endblock %}

{% block content %}
<style>
    .errolist{
        color: red;
        list-style: none;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Entrar</h3>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-sm btn-success">Entrar</button>
                {% if error %}

                <li style="color: red; list-style-type: none;">{{error}}</li>

                {% endif %}
            </form>
            <p> Se você ainda não é cadastrado? Clique aqui! <a heref= "{%url 'lojaapp:clienteregistrar'%}">Cadastrar</a></p>
        </div>
    </div>
</div>
{% endblock %}